<%= form_for(@listing, :html => { :multipart => true }) do |f| %>
  <% if @listing.errors.any? %>
    <div id="error_explanation" class="alert alert-danger alert-dismissable">
      <button type="button" class="close" data-dismiss="alert" aria-hidden="true">&times;</button>
      <h2><%= pluralize(@listing.errors.count, "error") %> prohibited this listing from being saved:</h2>

      <ul>
      <% @listing.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

    <div class="form-group">
    <%= f.label 'Назва' %><br>
    <%= f.text_field :name, class: "form-control" %>
  </div>
    <div class="form-group">
      <%= f.label 'Категорія' %><br>
      <%= f.collection_select :category_id, Category.all, :id, :name, {prompt: "Оберіть категорію"}, {class: "btn btn-default dropdown-toggle"} %>
    </div>
    <div class="form-group">
    <%= f.label 'Опис' %><br>
    <%= f.text_area :description, class: "form-control" %>
  </div>
    <div class="form-group">
      <%= f.label 'Характеристики' %><br>
      <%= f.text_area :specification, class: "form-control" %>
    </div>
    <div class="form-group">
    <%= f.label 'Ціна' %><br>
    <%= f.text_field :price, class: "form-control" %>
  </div>
    <div class="form-group">
      <%= f.label 'Зображення' %><br>
      <%= f.file_field :image, class: "form-control" %>
    </div>
  <div class="actions">
    <%= f.submit 'Створити', class: "btn btn-primary" %>
  </div>
<% end %>
