<p id="notice"><%= notice %></p>

<div class="row">
  <% @listings.each do |listing| %>
      <div class="col-md-3">
        <div class="thumbnail">
          <%= link_to image_tag(listing.image.url), listing %>
          <div class="caption">
            <h3><%= listing.name %></h3>
            <p><%= listing.price %></p>
            <nav>
              <% if (user_signed_in?) && (current_user.id == listing.user_id) %>
                <ul class="pager">
                  <li><%= link_to 'Edit', edit_listing_path(listing), class: "btn btn-link" %></li>
                  <li><%= link_to 'Destroy', listing, method: :delete, data: { confirm: 'Are you sure?' }, class: "btn btn-link" %></li>
                </ul>
              <% end %>
            </nav>
          </div>
        </div>
      </div>
  <% end %>
</div>

<br>
<% if user_signed_in? %>
  <%= link_to "New Listing", new_listing_path, class: "btn btn-link" %>
<% end %>