<p id="notice"><%= notice %></p>

<div class="row">
  <% @listings.each do |listing| %>
    <div class="col-sm-4 col-lg-4 col-md-4">
      <div class="thumbnail">
        <div class="caption">
          <h4><%= link_to listing.name, listing %></h4>
        </div>
        <div class="size"><%= link_to image_tag(listing.image.url), listing %></div>
        <div class="ratings">
          <p class="info-buttons">
            <p class="pull-right"><%= button_to 'У кошик', line_items_path(listing_id: listing), class: "btn btn-success" %></p>
            <h4><%= listing.price %> грн</h4>
          </p>
        </div>
      </div>
    </div>
  <% end %>
</div>