<p id="notice"><%= notice %></p>

  <% @post.each do |post| %>
      <div class="news_box">
            <h4 class="news_titlef"><%= link_to post.title, post %></h4>
            <p class="news_content"><%= truncate(post.content, :length => 900) %></p>
            <p class="btn btn-default btn-xs"><%= link_to "Переглянути", post, class: "btn btn-link" %></p>
      </div>
  <% end %>
<br>
  <%= will_paginate @post, renderer: BootstrapPagination::Rails %>
<br>
<% if user_signed_in? %>
    <p></p><%= link_to "Додати новину", new_post_path, class: "btn btn-success" %><p/>
<% end %>
