<p id="notice"><%= notice %></p>

<h1>Керування категоріями</h1>

<table class="table">
  <thead>
    <tr>
      <th>Назва</th>
    </tr>
  </thead>

  <tbody>
    <% @categories.each do |category| %>
      <tr>
        <td><%= category.name %></td>
        <td><%= link_to '', category, class:"glyphicon glyphicon-search" %></td>
        <td><%= link_to '', edit_category_path(category), class:"glyphicon glyphicon-pencil" %></td>
        <td><%= link_to '', category, method: :delete, class:"glyphicon glyphicon-remove-circle", data: { confirm: 'Are you sure?' } %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<%= link_to ' Створити категорію', new_category_path, class:"glyphicon glyphicon-plus-sign" %>
