<!DOCTYPE html>
<html>
<head>
  <title>digitalshop</title>
  <link href='https://fonts.googleapis.com/css?family=Open+Sans&subset=latin,cyrillic' rel='stylesheet' type='text/css'>
  <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track' => true %>
  <%= javascript_include_tag 'application', 'data-turbolinks-track' => true %>
  <%= csrf_meta_tags %>
</head>
<body>
<%= render 'layouts/header' %>
<div class="container">
  <% flash.each do |name, msg| %>
      <% if msg.is_a?(String) %>
          <div class="alert alert-<%= name == :notice ? "success" : "danger" %> alert-dismissable">
            <button type="button" class="close" data-dismiss="alert" aria-hidden="true">&times;</button>
            <%= content_tag :div, msg, :id => "flash_#{name}" %>
          </div>
      <% end %>
  <% end %>


  <!-- Page Content -->
  <div class="container">
    <div class="row">
      <div class="col-md-3">
        <p class="lead">Каталог товарів</p>
        <div class="list-group">
          <a href="#" class="list-group-item">Категорія 1</a>
          <a href="#" class="list-group-item">Категорія 2</a>
          <a href="#" class="list-group-item">Категорія 3</a>
        </div>
      </div>

      <div class="col-md-9">
        <%= yield %>
      </div>
    </div>

  </div>
  <!-- /.container -->
</div>
<%= render 'layouts/footer' %>
</body>
</html>
