<!DOCTYPE html>
<html>
<head>
  <title>DigitalShop - Інтернет-магазин цифрової техніки</title>
  <link href='https://fonts.googleapis.com/css?family=Open+Sans&subset=latin,cyrillic' rel='stylesheet' type='text/css'>
  <%= stylesheet_link_tag 'application', media: 'all', 'data-turbolinks-track' => true %>
  <%= javascript_include_tag 'application', 'data-turbolinks-track' => true %>
  <%= csrf_meta_tags %>
</head>
<body>
<%= render 'layouts/header' %>
<div class="container">
  <% flash.each do |name, msg| %>
      <% if msg.is_a?(String) %>
          <div class="alert alert-success %> alert-dismissable">
            <button type="button" class="close" data-dismiss="alert" aria-hidden="true">&times;</button>
            <%= content_tag :div, msg, :id => "flash_#{name}" %>
          </div>
      <% end %>
  <% end %>
  <!-- Page Content -->
  <div class="container">
    <div class="col-md-3">
      <h4>Каталог товарів</h4>
      <div class="list-group panel">
        <a href="#demo3" class="list-group-item" data-toggle="collapse" data-parent="#MainMenu">ТВ, Фото та відео</a>
        <div class="collapse" id="demo3">
          <a href="listings?category=Фото та відео камери" class="list-group-item">Фото та відео камери</a>
          <a href="listings?category=Обєктиви" class="list-group-item">Об'єктиви</a>
          <a href="listings?category=Спалахи" class="list-group-item">Спалахи</a>
          <a href="listings?category=Сумки та чохли" class="list-group-item">Сумки та чохли</a>
        </div>
        <a href="#demo4" class="list-group-item" data-toggle="collapse" data-parent="#MainMenu">Ноутбуки, планшети,
          комп'ютери</a>
        <div class="collapse" id="demo4">
          <a href="listings?category=Ноутбуки" class="list-group-item">Ноутбуки</a>
          <a href="listings?category=Планшети" class="list-group-item">Планшети</a>
          <a href="listings?category=Компютери" class="list-group-item">Комп'ютери</a>
          <a href="listings?category=Компютерні коплектуючі" class="list-group-item">Комп'ютерні комплектуючі</a>
        </div>
        <a href="#demo5" class="list-group-item" data-toggle="collapse" data-parent="#MainMenu">Смартфони та
          аксесуари</a>
        <div class="collapse" id="demo5">
          <a href="listings?category=Смартфони" class="list-group-item">Смартфони</a>
          <a href="listings?category=Аккумулятори" class="list-group-item">Аккумулятори</a>
          <a href="listings?category=Чохли" class="list-group-item">Чохли</a>
          <a href="listings?category=Інші аксесуари" class="list-group-item">Інші аксесуари</a>
        </div>
      </div>

      <h4>Фільтр товарів</h4>
      <div class="thumbnail">
        <div class="in_tumb">
          <%= form_tag listings_path, class: "form-inline", method: :get do %>
              <h5>Ціна</h5>
              <div class="form-group">
                <%= label_tag 'Від' %>
                <%= text_field_tag :min_price, params[:min_price], class: "form-control", id: "price-inp" %>
              </div>
              <div class="form-group">
                <%= label_tag 'До' %>
                <%= text_field_tag :max_price, params[:max_price], class: "form-control", id: "price-inp" %> грн<br>
              </div>
              <h5>Категорія</h5>
              <%= select_tag(:category, options_from_collection_for_select(Category.all, :name, :name, params[:category]), {include_blank: true}) %>
              <h5>Виробник</h5>
              <%= select_tag(:producer, options_from_collection_for_select(Producer.all, :name, :name, params[:producer]), {include_blank: true}) %>
              <br>
              <%= submit_tag "Знайти", name: nil, class: "btn btn-primary", id: "button-filter" %>
          <% end %>
        </div>
      </div>
    </div>
    <div class="col-md-9">
      <%= yield %>
    </div>
  </div>

</div>
<!-- /.container -->
</div>
<%= render 'layouts/footer' %>
</body>
</html>
