<!DOCTYPE html>
<html>
<head>
  <title>digitalshop</title>
  <link href='https://fonts.googleapis.com/css?family=Open+Sans&subset=latin,cyrillic' rel='stylesheet' type='text/css'>
  <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track' => true %>
  <%= javascript_include_tag 'application', 'data-turbolinks-track' => true %>
  <%= csrf_meta_tags %>
</head>
<body>
<%= render 'layouts/header' %>
<div class="container">
  <% flash.each do |name, msg| %>
      <% if msg.is_a?(String) %>
          <div class="alert alert-<%= name == :notice ? "success" : "danger" %> alert-dismissable">
            <button type="button" class="close" data-dismiss="alert" aria-hidden="true">&times;</button>
            <%= content_tag :div, msg, :id => "flash_#{name}" %>
          </div>
      <% end %>
  <% end %>


  <!-- Page Content -->
  <div class="container">
    <div class="col-md-3">
      <h4>Каталог товарів</h4>
      <div class="list-group panel">
        <a href="#demo3" class="list-group-item" data-toggle="collapse" data-parent="#MainMenu">ТВ, Фото та відео</a>
        <div class="collapse" id="demo3">
          <a href="" class="list-group-item">Фото та відео камери</a>
          <a href="" class="list-group-item">Об'єктиви</a>
          <a href="" class="list-group-item">Спалахи</a>
          <a href="" class="list-group-item">Сумки та чохли</a>
        </div>
        <a href="#demo4" class="list-group-item" data-toggle="collapse" data-parent="#MainMenu">Ноутбуки, планшети, комп'ютери</a>
        <div class="collapse" id="demo4">
          <a href="" class="list-group-item">Ноутбуки</a>
          <a href="" class="list-group-item">Планшети</a>
          <a href="" class="list-group-item">Комп'ютери</a>
          <a href="" class="list-group-item">Комп'ютерні комплектуючі</a>
        </div>
        <a href="#demo5" class="list-group-item" data-toggle="collapse" data-parent="#MainMenu">Смартфони та аксесуари</a>
        <div class="collapse" id="demo5">
          <a href="" class="list-group-item">Смартфони</a>
          <a href="" class="list-group-item">Аккумулятори</a>
          <a href="" class="list-group-item">Чохли</a>
          <a href="" class="list-group-item">Інші аксесуари</a>
        </div>
      </div>
    </div>
    <div class="col-md-9">
        <%= yield %>
    </div>
  </div>

  </div>
  <!-- /.container -->
</div>
<%= render 'layouts/footer' %>
</body>
</html>
